/* This is for globally set*/
*{
    box-sizing: border-box;
}

body{
    overflow: auto;
    margin: 0;
}

section,footer{
    padding: 8em 4em;
}

.title h1{
    font-size: 64px;
    margin-top: 0.3em;
}

.title h4{
    font-size: 20px;
}

.title p{
    font-size: 24px;
}


/*---------------------------------------------------*/


/* This is for navigation */
nav{
    max-height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1em 4em;
}

nav *{
    margin: auto 0;
}

nav img{
    margin-right: auto;
    object-fit: scale-down;
}
nav span{
    margin-right: 2em;
    align-self: center;
}

nav span:nth-child(5){
    margin-right: auto;
}

nav a{
    font-size: 18px;
    text-decoration: none;
    padding: 1em;
    color: #1C1E53;
}

#nav-button{
    padding: 1em;
    outline: 1px solid #5E3BEE;
    align-self: flex-end;
    border-radius: 5px;
}
/*---------------------------------------------------*/


/* This is for header */
header{
    background-color: #F5FCFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8em 0;
    padding-left: 3em;
    padding-right: 4em;
    flex-wrap: wrap;
}

header .text-section{
    width: 40%;
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 1200px) {
}

header h1{
    font-size: 65px;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
    color: #282938;
}

header h4{
    font-size: 20px;
    color: #282938;
}

header h3{
    font-size: 23px;
    margin-bottom: 4em;
    color: #1C1E53;
}

header a{
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    padding: 1em;
    background-color: #5E3BEE;
    outline: 1px solid #5E3BEE;
    color: #FFFFFF;
}

header img{
    max-width: 60%;
}


/*----------------------------------------------------*/


/* This is for Skills section */

#Skills{
    padding-top: 8em;
    padding-bottom: 8em;
}

#skillBoxes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.skillBox{
    max-width: 25rem;
    background-color: #F5FCFF;
    border-radius: 10px;
    padding: 2em;
    margin: 1em;
    box-shadow: rgb(100,100,111,0.2) 0px 7px 29px 0px
}

.skillBox:first-child{
    margin-left: 0;
}

.skillBox:last-child{
    margin-right: 0;
}

.img-container{
    width: fit-content;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 1em;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px
}

@media only screen and (max-width: 1350px) {
}

@media only screen and (max-width: 975px) {
    #Skills .title{
        text-align: center;
    }
}

@media only screen and (max-width: 650px) {
}


/*----------------------------------------------------*/


/* This is for About Me section */
#About-Me{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#About-Me img{
    max-width: 40em;
    margin: 3em;
}

#About-Me .title{
    max-width: 40%;
}

@media only screen and (max-width: 1350px) {
    #About-Me{
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    #About-Me .title h1{
        font-size: 43px;
    }
    
    #About-Me .title h4{
        font-size: 14px;
    }
    
    #About-Me .title p{
        font-size: 16px;
    }
}

/*----------------------------------------------------*/


/* This is for Portfolio section */

#nav-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5em;
}

#nav-container .button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E62872;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0px 1.33px 2.67px 0px #1018280D;
}

#nav-container .button span{
    font-size: 21px;
}

#nav-container .button img{
    padding: 0.5em;
}

#nav-container a{
    text-decoration: none;
    color: #FFFFFF;
}

#ProjectCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#ProjectCards .card{
    box-shadow: 0px 0px 32px 0px #00000026;
}

#ProjectCards .card img{
    border-radius: 5px;
}

#ProjectCards .card .text-section{
    max-width: 556px;
    padding: 3em;
    padding-top: 0;
}

#ProjectCards .card .text-section a{
    color: #000000;
    font-size: 19px;
    text-decoration-color: #5E3BEE;
}


#ProjectCards .card .text-section h1{
    font-size: 32px;
}

#ProjectCards .card .text-section p{
    font-size: 21px;
}

/*----------------------------------------------------*/


/* This is for testimonials section*/
#Testimonials{
    background-color: #F5FCFF;
    padding-bottom: 10em;
}

#Testimonials .title{
    margin-top: 5em;
    margin-bottom: 10em;
}

.TestimonialsCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.TestimonialsCards .card{
    padding: 3em;
    outline: 1.33px solid #006B6A;
    border-radius: 10px;
    max-width: 33em;
    margin: 1em;
}

.TestimonialsCards .stars{
    display: flex;
}

.TestimonialsCards .stars img{
    padding: 0.2em;
}

.TestimonialsCards .card p{
    color: #1C1E53;
    font-size: 21px;
    margin: 2em 0;
}

.TestimonialsCards .card .avatar{
    display: flex;
}

.TestimonialsCards .card .avatar .content{
    padding-left: 2em;
}

.TestimonialsCards .card .avatar .content h4{
    color: #282938;
    font-size: 21px;
    margin-top: 1em;
    margin-bottom: 0;
}

.TestimonialsCards .card .avatar .content h5{
    color: #1C1E53;
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 1em;
}

/*----------------------------------------------------*/


/* This is for Contact Me section */
#Contact{
    text-align: center;
    padding-left: 15em;
    padding-right: 15em;
}

#Contact .title{
    padding: 2em 0;
}

#Contact .inputs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
}

#Contact form .input{
    text-align: start;
    width: 100%;
    padding: 16px;
    margin: 2em 0;
}

#Contact form .inputs .input{
    width: 50%;
    margin: 0;
}

#Contact form input,select,textarea{
    border-radius: 8px;
    outline: none;
    border: 1.33px solid #5E3BEE;
    height: 64px;
    padding: 16px;
    margin-top: 1em;
    width: 100%;
    font-size: 21px;
    color: #282938;
}

#Contact form label{
    color: #282938;
    font-size: 21px;
    width: 100%;
}

#Contact form button{
    padding: 1em 2em;
    background-color: #5E3BEE;
    border-radius: 8px;
    outline: none;
    border: 1px #5E3BEE;
    color: white;
    font-size: 21px;
}


@media screen and (max-width: 1200px){
    #Contact form .input{
        width: 100%;
    }
    
}
/*----------------------------------------------------*/

/* This if for Footer*/

footer{
    padding-bottom: 3em;
}

footer nav{
    margin-top: 5em;
    margin-bottom: 4em;
}

footer #credits{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 3em;
    border-top: 1.33px solid #2829388C;
}

nav .nav-buttons{
    align-self: flex-end;
}
footer #credits span{
    font-size: 18px;
    color: black;
}

footer #credits .nav-buttons a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    margin-left: 2em;
}



/*----------------------------------------------------*/